
/* My name */

#attribution {
  color: white;
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 2vh;
}

/* Background */

body {
  background-color: #36454f ;
  }

  /* Quote Container */
  
#quote-box {
  background-color: white;
  margin: auto;
  margin-top: 10vh;
  height: 40vh;
  width: 50vw;
}

/* Quote Text */

#text-area {
  font-size: 5.5vh;
  margin-top:1.5vh;
  margin-left:1.5vw;
  margin-right:1.5vw;
}

/* The button flex container */

.button-container {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* The buttons */

#new-quote-button{
  margin-right: 8vw;
  color: black;
  height: 4vh;
  font-size:1.5vw;
 
}
#twit-button {
  /* margin-left: 20vw; */
  /* margin-right:28vw; */
  color: black;
  height: 4vh;
  font-size:1.5vw;
 }

