
/* Me */

#attribution {
  color: white;
  margin-top: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
}

/* Background */

body {
  background-color: #36454f ;
  }

  /* Quote Container */
  
#quote-box {
  background-color: white;
  margin: auto;
  margin-top: 7vw;
  height: 21vw;
  width: 50vw;
}

/* Quote Text */

#text-area {
  font-size: 3vw;
  margin-top:1.5vw;
  margin-left:1.5vw;
  margin-right:1.5vw;
}

/* The button flex container */

.button-container {
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* The buttons */

#new-quote-button{
  margin-right: 8vw;
  color: black;
  height: 4vw;
  font-size:1.5vw;
 
}
#twit-button {
  color: black;
  height: 4vw;
  font-size:1.5vw;
 }

